<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/404Page.js" type="module"></script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a> | </a>
        <a href="/shop">Shop</a>
    </nav>
    <h1>Oops! The page you’re looking for doesn’t exist.</h1>
    <p><input type="button" id="homeButton" value="Return to Home Page"></input></p>
    <p><input type="button" id="storeButton" value="Return to Store Page"></input></p>
</body>
</html>