<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/homePage.js" type="module"></script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a> | </a>
        <a href="/shop">Shop</a>
    </nav>
    <h1>Welcome to Smith's Smithing Items – Custom Creations & Digital Essentials!</h1>
    <p>Explore our collection of unique merchandise for blacksmiths, businesses, and everyday life. Whether you're looking for hammers, anvils, or molds, we have something for you!</p>
    <h3>Need an Invoice? We’ve Got You Covered!</h3>
    <p>For business customers and professionals, our store offers automatic invoice generation for every purchase. Simply add your items to the cart, check out, and download your PDF invoice instantly. Perfect for expense tracking, tax deductions, and corporate purchases!</p>
    <h3>Looking to Buy?</h3>
    <p><input type="button" id="storeButton" value="Browse, Buy & Download Instantly"></input></p>
</body>
</html>